body {
display: grid;
grid-template-columns: 1fr auto;
grid-template-areas: 'header header'
                     'main side'
                     'footer side';
}

#header {
grid-area: header;
padding-top: 1em;
}

#main {
grid-area: main;
/*overflow-y: scroll;
overflow-x: hidden;
height: calc(100vh - 137px);
*/
}

#side {
grid-area: side;
display: none;
}

#footer {
grid-area: footer;
color: var(--sub-text);
background-color: var(--sub-bg);
font-size: 9pt;
font-feature-settings: "palt";
}

/* Footnotes */
#footer ol {
  counter-reset: my-counter;
  list-style: none;
}

#footer li {
  position: relative;
  text-indent: -1.3em;
  padding-left: 1.3em;
  margin-top: 0;
}
#footer li:before {
  counter-increment: my-counter;
  content: '*' counter(my-counter);
  margin-right: 1.0em;

/* sup text */
font-size: 90%;
vertical-align: top;
position: relative;
top: -0.3em;
}

/* Latest release */
div.timeline-item:first-of-type::before {
background-color: #ffb700 !important;
}

/* accordion */
.details pre,
.details div {
font-size: 80%;
background: var(--sub-bg);
color: var(--sub-text);
margin: 0;
padding: 10px;
line-height: 1.25;
}

i.more {
float: right;
color: #888;
}
i.more:hover {
color: #222;
}

/* detail items */
.detail > ul {
margin-top: 0;
}
.detail > ul li {
margin-top: .2rem;
}
.detail.nonstyle > ul {
  list-style: none;
}
